*{
    margin: 0;
    padding: 0;

}

html{
/* para dar a sençao de pagina descendo entre as sections     */
    scroll-behavior: smooth;
}

.imagemlat{
    height: 450px;
    width: 150px;
    align-items: center;
    margin-bottom: 25px;

}
.imagemlatpromo{
    height: 50vh;
    width: 50vw;
    color: white;
    text-align: center;
}


.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}


.section-container-logo{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center; ;
    align-items: center;
}

.logobike{
    height: 12vh;
}

.background-section2{  
   background-image: url(../assests/fundo.jpg);
   background-color: black; 
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   align-items: center;
}
.background-section1{
    background-color: rgb(114, 45, 59);    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container-logo{
    background: rgb(247, 244, 244);
    border-radius: 12px;
    padding: 5px;
    max-width: 200px;
    display: grid;
}
.card-container{
    border-radius: 25px;
    padding: 25px;
    max-width: 200px;
    display: grid;
    color: white;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 12px;
    background: white;
    color:black;
    font-family: 'Times New Roman';
}

form{
    display: grid;
    justify-content: center;
    align-items: center;
}

footer{
    height: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(114, 45, 59);    
    color: black;
}

.logo{
    height: 15px;
    text-align: center;
}